node_modules
*.orig

#####
# Build files and folders
#####
build/
target/
classes/
out/
.checkstyle
.pmd
.tmp/ 
dependency-reduced-pom.xml
.gradle

#####
# Eclipse files and folders
#####
.metadata/
.settings/
.classpath
.project

#####
# IntelliJ IDEA files and folders
#####
.idea/
*.iwl
*.ips
*.iml
